* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
 
    line-height: 1.5;

}

.container {
    background: #b3e5ea;
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar {
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
   
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

.navbar-brand:hover {
    color: rgb(102, 135, 146);
}

button {
    color:#fff;
    background-color: #333;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.advanced{

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active


 {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}


.advanced{

    color: #00838f !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;


}

.background-image {
    background-image: url("https://images.unsplash.com/photo-1517245386807-9b4d0d6e9d8a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGNvbnRyb2xsZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    opacity: 0.7;
}

.search {
    display: flex;
}

.search input {
    flex: 1;
}

img.poster {
    max-width: 200px;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    color: #00838f;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#result h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    color: #00838f;
}