* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    z-index: 1;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.movie-header {
    color: white;
}

.movie-header:hover {
    color: lightgrey;
}
h1 {
    font-size: 48px;

}

.background-image {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100%;
    position: relative;
    opacity: 0.7;
}

.navbar {
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
   
}

.navbar-item {
    color: white;
   
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
    margin: 20px;
    font-size: 20px;
    padding: 20px;
}

.navbar-brand:hover {
    color: lightgray;
}

button {
    color:#fff;
    background-color: #333;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.advanced{

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.background-image {
    background-image: url("https://images.unsplash.com/photo-1517245386807-9b4d0d6e9d8a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGNvbnRyb2xsZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    opacity: 0.7;
}

.search {
    display: flex;
}

.search input {
    flex: 1;
}

#search-btn {
    padding: 10px;
    background-color: lightblue;
    color: black;
}

img.poster {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 8px;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    color: #00838f;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#result {
    color: black;
    font-size: 1.5rem;
}
#result h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    color: #00838f;
    margin-left: 10px;
}

.card p {
    margin-left: 10px;
    margin-bottom: 10px
}