* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
   
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

button {
    color:#fff;
    background-color: #333;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.advanced{

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active


 {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none;
}


.advanced{

    color: #00838f !important;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #00838f;


}