* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    z-index: 1;
  }
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
a.navbar-item {
  color: white;  
}

h1 {
    font-size: 48px;

}

.background-image {
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100%;
    position: relative;
    opacity: 0.7;
    z-index: -1;
}
.comic-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}


.comic-container:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}



.comic-link {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.comic-link:hover {
  color: #f00;
  transform: scale(1.05);
}
  /* Styling for the comic cards */
  .comic-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .comic-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .comic-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .comic-title {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .comic-writers {
    margin: 5px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }
 
  .card.custom-card {
    width: 100px;
    max-width: 200px;
  }
  
  .card.custom-card .card-image img {
    max-height: 300px;
  }
  
  .card.custom-card .card-content {
    padding: 1  0px;
  }
  
  .card.custom-card .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .card.custom-card .card-footer .card-footer-item {
    padding: 0;
    margin: 0;
  }
  
  .add-to-selected-button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .add-to-selected-button:hover {
    background-color: #0062cc
  }

  .comic-card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  